body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("css.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #333;
    /* Text color */
}

header {
    background-color: #222;
    /* Header background color */
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 0;
}

main {
    padding: 2rem;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.intro {
    text-align: center;
    margin-bottom: 2rem;
}

.intro p {
    font-size: 1.1rem;
}

.intro-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form {
    margin-bottom: 1rem;
}
